<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>testcss</title>
    <link rel="stylesheet" href="/css/apollo.css"/>
    <title>Title</title>
</head>
<body>
<div class="wrap">
    <header th:replace="header::header">

    </header>
    <main class="container">
        <div class="post">
            <article class="post-block">
                <h1 class="post-title" th:text="${article.getArticleTitle()}">浅谈 Android 编程思想和架构</h1>
                <div class="post-info" th:text="${article.getArticleTime()}">Mar 11, 2016</div>
                <div class="post-content" th:utext="${article.getArticleContent()}"></div>
            </article>
        </div>
    </main>
    <footer th:replace="footer::footer">

    </footer>

</div>

</body>
</html>