<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Markdown 编辑器</title>
    <link rel="stylesheet" href="/css/apollo.css"/>
    <script src="/js/marked.min.js"></script>
    <style>
        textarea {
            width: 20rem;
            height: 40rem;
            float: left;
            resize: none;
        }

        div #preview {
            width: 20rem;
            height: 40rem;
            float: right;
            border-style: outset
        }
    </style>
</head>
<body>
<div class="wrap">
    <header th:replace="header::header"></header>
    <main>
        <div class="container">
            <textarea contenteditable="true" id="text-input" oninput="this.editor.update()">
                    Type **Markdown** here.</textarea>
            <div class="post-content" id="preview"></div>
        </div>
        <video src="https://gslb.miaopai.com/stream/xJCLSGuMH55o6rSvR-dxIOcpnxOsgPNsCEnv0A__.mp4?ssig=cf8b0759d24b2aa450a6eaeea8802540&time_stamp=1522249487945&cookie_id=f8b4a1c4f9b514840013ce23715aa3de&vend=1&os=1&partner=1&platform=2&cookie_id=f8b4a1c4f9b514840013ce23715aa3de&refer=miaopai&scid=xJCLSGuMH55o6rSvR-dxIOcpnxOsgPNsCEnv0A">

        </video>
    </main>
    <footer th:replace="footer::footer" ></footer>
</div>

<script>
    function Editor(input, preview) {
        this.update = function () {
            preview.innerHTML = marked(input.value);
        };
        input.editor = this;
        this.update();
    }

    var $ = function (id) {
        return document.getElementById(id);
    };
    new Editor($("text-input"), $("preview"));
</script>
</body>
</html>